nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  padding: 0em 1.5em;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png"); 
}
.newTweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
}

.title {
  display: flex;
  font-family: 'Bungee', cursive;
  justify-content: center;
  flex-direction: column;
  font-size: 40px;
}

i[name="down-angles"] {
  color: red;
}